*, *::before, *::after{
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    background-image: url(V30Bsx9khRfe5KCvj2ivrsYTvlg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.audioPlayer {
    width: 20px;
    height: 10px;
    position: relative;
}

.audioPlayer audio{
  position: absolute;
  top: 250px;
  left: 280px;
  width: 100%
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto) ;
    gap: 10px;
    margin-top: 20px;
}
.btn{
   background-color: hsl(200, 100%, 50%);
   border: 1px solid hsl(200, 100%, 30%);
   border-radius: 5px;
   color: antiquewhite;
   outline: none;
 
}

.btn:hover{
    border-color: black;
}